package views_dashboards_persons_new_components

import "fmt"

templ NameFieldLabelValidation(nameContent, statusType string) {
    <!-- Name Field -->
    <label class="form-control">
      <div class="label">
        <span class="label-text">What is your name?</span>
        <span class="label-text-alt">Top Right label</span>
      </div>
      <input
          name="name"
          hx-post="/persons/validate/name"
          type="text" placeholder="Type here"
          class={ nameInputClassValidate(statusType) } />
      <div class="label">
        <span class="label-text-alt">Bottom Left label</span>
        <span class="label-text-alt">Bottom Right label</span>
      </div>
    </label>
}

func nameInputClassValidate(status string) string {
    // Define the common classes.
    commonClasses := "input input-bordered w-full md:max-w-3xl lg:max-w-4xl"

    // Define a map for specific status classes.
    statusClasses := map[string]string{
        "Success": "input-success",
        "Error":   "input-error",
        "Warning": "input-warning",
    }

    // Get the specific class for the given status, if it exists.
    if specificClass, exists := statusClasses[status]; exists {
        return fmt.Sprintf("input %s %s", specificClass, commonClasses)
    }

    // Return the common classes if no specific class was found for the status.
    return commonClasses
}
