package public_pages

import "github.com/ppp3ppj/pppfav-htmx/public/variables"
import "github.com/ppp3ppj/pppfav-htmx/public"

templ Index(body public_variables.BodyOpts) {
    @public.Body(public_variables.BodyOpts{
        Component: index(),
    })
}

templ index() {
    <h1>PPPP index</h1>
}
