package views_pages

import "github.com/ppp3ppj/pppfav-htmx/views/variables"
import "github.com/ppp3ppj/pppfav-htmx/views"


templ Index(body views_variables.BodyOpts) {
    @views.Body(views_variables.BodyOpts{
        Component: index(),
    })
}

templ index() {
    <h1>PPPP index</h1>
}
